{% load custom_tags %}
<br/>
<div class="columns is-multiline is-mobile has-text-centered">
    <!-- section1 -->
    {% for item in data %}
        <div class="column is-3-tablet is-6-mobile">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by4">
                        <img src="{% get_image_url item.nm_id %}"/>
                    </figure>
                </div>
                <div class="card-content">
                    <a target="_blank"
                       href="https://www.wildberries.ru/catalog/{{ item.nm_id }}/detail.aspx?targetUrl=ES">
                        <p class="title is-5">{{ item.supplier_article }}</p></a>
                    <p class="block"> {% for size in item.sizes.values %}<span class="button is-light">
                        <span class="tag is-success">{{ size.tech_size }}</span>&nbsp;Купили: {{ size.total_sales }} Склад: {{ size.quantity_full }}
                    </span>
                    {% endfor %}
                    </p>
                    <div class="content">
                        Номер ВБ: <a target="_blank"
                                     href="https://www.wildberries.ru/catalog/{{ item.nm_id }}/detail.aspx?targetUrl=ES">{{ item.nm_id }}</a><br/>
                        ШК: {{ item.barcode }}<br/>
                        Едет к клиентам: {{ item.in_way_to_client }},<br/>
                        Едет от клиентов: {{ item.in_way_from_client }}<br/>
                        На сайте {{ item.days_on_site }} дней<br/>
                        <progress class="progress is-primary" value="{{ item.days_on_site }}"
                                  max="999"></progress>
                        Остаток: {{ item.stock }} шт.<br/>
                        Цена: <span class="tag is-light">{{ item.price }}</span> руб<br/>
                        Скидка: {{ item.discount }}%<br/>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
<br/>
{% include 'includes/pages.html' %}