{% load custom_tags %}
<br/>
<div class="columns is-multiline is-mobile has-text-centered">
    <!-- section1 -->
    {% for item in data %}
        <div class="column is-12-mobile">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by4">
                        <a target="_blank"
                           href="https://www.wildberries.ru/catalog/{{ item.nm_id }}/detail.aspx?targetUrl=ES">
                            <img src="{{ item.image }}"/></a>
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-5"><a href="https://seller.wb.ru/new-goods/product-card/card?vendorCode={{ item.supplier_article }}" target="_blank">{{ item.brand }} {{ item.category }} {{ item.subject }} {{ item.name }}<br>
                    ✏️редактировать</a></p>
                    <p class="block"> {% for size in item.sizes.values %}<span class="button is-light">
                        <span class="tag is-success">{{ size.tech_size }}</span>&nbsp;
                        Выкуп: {{ size.total_sales }}
                        {% if size.total_orders %}Заказ: {{ size.total_orders }}{% endif %}
                        Склад: {{ size.quantity_full }}
                    </span>
                    {% endfor %}
                    </p>
                    <div class="content">
                        Номер ВБ: <a target="_blank"
                                     href="https://www.wildberries.ru/catalog/{{ item.nm_id }}/detail.aspx?targetUrl=ES">{{ item.nm_id }}</a><br/>
                        Артикул: {{ item.supplier_article }}<br/>
                        ШК: {{ item.barcodes }}<br/>
                        {#                        Едет к клиентам: {{ item.in_way_to_client }},<br/>#}
                        {#                        Едет от клиентов: {{ item.in_way_from_client }}<br/>#}
                        На сайте {{ item.days_on_site }} дней<br/>
{#                        <progress class="progress is-primary" value="{{ item.days_on_site }}"#}
{#                                  max="999"></progress>#}
                        Остаток: {{ item.stock }} шт.<br/>
                        Всего купили: {{ item.sales }} шт.<br/>
                        Всего заказали: {{ item.orders }} шт.<br/>
                        Цена старая: {{ item.full_price }} рублей <br/>
                        Цена на сайте: <span class="tag is-danger">{{ item.price }}</span> руб<br/>
                        Скидка: {{ item.discount }}%<br/>
                        <span class="box">
                            <form hx-get="/update_discount/"
                                  hx-target="#discount_update_result_{{ item.nm_id }}">
                                <input type="hidden" id="wb_id" name="wb_id" value="{{ item.nm_id }}">
                                <input type="hidden" id="full_price" name="full_price" value="{{ item.full_price }}">
                                <div class="field is-grouped">
                                <p class="is-small">Цена:&nbsp;</p>
                                <p class="control is-expanded">
                                    <input class="input is-small" type="text"
                                           value="{{ item.price }}" id="new_price"
                                           name="new_price">
                                </p>
                                    </div>
                                <p class="control">
                                    <button class="button is-info is-small" type="submit"
                                            value="">Установить через %</button>
                                </p>
                                <span id="discount_update_result_{{ item.nm_id }}"></span>
                            </form>
                            {% if item.has_been_updated %}
                                <div class="tag is-danger">
                                Цена: {{ item.has_been_updated.new_price }} (-{{ item.has_been_updated.new_discount }}%, {{ item.has_been_updated.modified_at }})
                                </div>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
<br/>
{% include 'includes/pages.html' %}