{% load custom_tags %}
<nav class="navbar" role="navigation" aria-label="main navigation">


    <div id="navbarBasicExample" class="navbar-menu  is-active">
        <div class="navbar-start">
            <div class="navbar-item">
                <div class="buttons">


                    <a class="button is-link" href="{% url 'index' %}">
                        WB 2.0
                    </a>
                    <a class="button is-primary is-light" href="{% url 'stock' %}">
                        Склад
                    </a>
                    <a class="button is-primary is-light" href="{% url 'marketplace' %}">
                        Маркетплейс&nbsp;<span class="tag is-success">Новинка!</span>
                    </a>

                    <a class="button is-primary is-light" href="{% url 'ordered' %}">
                        Заказали
                    </a>

                    <a class="button is-primary is-light" href="{% url 'bought' %}">
                        Купили
                    </a>
                    <a class="button is-primary is-light" href="{% url 'summary' %}">
                        Аналитика
                    </a>
                    <a class="button is-primary" href="{% url 'cart' %}">
                        Корзина (<span id="cart">{% get_cart request %}</span>)
                    </a>

                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if not user.is_authenticated %}
                        <a class="button is-primary" href="{% url 'signup' %}">
                            <strong>Регистрация</strong>
                        </a>
                        <a class=" button is-light" href="{% url 'login' %}">
                            Войти
                        </a>
                    {% else %}
                        <a class="button is-primary" href="{% url 'api' %}">
                            <strong>API ключ</strong>
                        </a>
                        <a class="button is-light" href="{% url 'logout' %}">Выйти</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>