{% load custom_tags %}
<nav class="pagination is-large" role="navigation" aria-label="pagination">
    {% if data.has_previous %}
        <a class="pagination-previous" href="?{% url_replace request 'page' data.previous_page_number %}">Предыдущая</a>
    {% endif %}
    {% if data.has_next %}
        <a class="pagination-next" href="?{% url_replace request 'page' data.next_page_number %}">Следующая</a>
    {% endif %}
    <ul class="pagination-list">
        {% if data.has_previous %}
            <li><a class="pagination-previous"
                   href="?{% url_replace request 'page' 1 %}">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-previous"
                   href="?{% url_replace request 'page' data.previous_page_number %}">{{ data.previous_page_number }}</a>
            </li>
        {% endif %}

        <li><a class="pagination-link is-current" aria-label="Страница {{ data.number }}"
               aria-current="page">{{ data.number }}</a>
        </li>
        {% if data.has_next %}
            <li><a class="pagination-next"
                   href="?{% url_replace request 'page' data.next_page_number %}">{{ data.next_page_number }}</a>
            </li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-next"
                   href="?{% url_replace request 'page' data.paginator.num_pages %}">{{ data.paginator.num_pages }}</a>
            </li>

        {% endif %}

    </ul>
</nav>