<div class="columns">
    <div class="column">

        <div class="notification is-primary is-light">
            Ordered: <strong>{{ ordered }}</strong> rub.
        </div>
    </div>
    <div class="column">
        <div class="notification is-success is-light">
            Bought: <strong>{{ bought }}</strong> rub.
        </div>
    </div>
    <div class="column">
        <div class="notification is-warning is-light">
            Weekly payment: <strong>{{ payment }}</strong> rub.
        </div>
    </div>

</div>