{% load custom_tags %}
<br/>
<div class="columns is-multiline is-mobile has-text-centered">
    <!-- section1 -->
    {% for wb_id, info in data %}
        <div class="column is-3-tablet is-6-mobile">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by4">
                        <img src="{% get_image_url wb_id %}"/>
                    </figure>
                </div>
                <div class="card-content">
                    <a target="_blank"
                       href="https://www.wildberries.ru/catalog/{{ wb_id }}/detail.aspx?targetUrl=ES">
                        Open on WB
                    </a>
                    <div class="content is-small">
                        {{ info.sku }}: <br/>
                        SOLD {{ info.total }}; STOCK: {{ info.stock }} <br/>
                        {% if info.stock == 0 %}
                            <div class="block">
                                  <span class="tag is-danger">
                                    Нет на складе
                                  </span>
                            </div>
                        {% elif info.stock < info.total %}
                            <div class="block">
                                  <span class="tag is-warning">
                                    Пора заказывать
                                  </span>
                            </div>
                        {% else %}
                            <div class="block">
                                  <span class="tag is-success">
                                    Достаточно
                                  </span>
                            </div>
                        {% endif %}
                        {% for key, value in info.sizes.items|sort_keys %}


                            <form hx-get="/add/"
                                  hx-target="#cart"
                                  class="field is-grouped">
                                <input type="hidden" id="wb_id" name="wb_id" value="{{ wb_id }}">
                                <input type="hidden" id="sku" name="sku" value="{{ info.sku }}">
                                <input type="hidden" id="size" name="size" value="{{ key }}">
                                <p class="is-small">{{ value }} sold </p>
                                <p class="control is-expanded">
                                    <input class="input is-small" type="text"
                                           value="{% get_diff info.total info.stock %}" id="qty"
                                           name="qty">
                                </p>
                                <p class="control">
                                    <input class="button is-info is-small" type="submit" value="{% if key == "0" %}+{% else %}{{ key }}{% endif %}">
                                </p>
                            </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
<br/>
{% include 'includes/pages.html' %}