{% load custom_tags %}
<br/>
<div class="columns is-multiline is-mobile has-text-centered">
    <!-- section1 -->
    {% for wb_id, info in data %}
        <div class="column is-3-tablet is-6-mobile">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by4">
                        <img src="{% get_image_url wb_id %}"/>
                    </figure>
                </div>
                <div class="card-content">
                    <a target="_blank"
                       href="https://www.wildberries.ru/catalog/{{ wb_id }}/detail.aspx?targetUrl=ES">
                        Open on WB
                    </a>
                    <div class="content">
                        {{ info.sku }}: <br/>
                        SOLD {{ info.total }}; STOCK: {{ info.stock }} <br/>
                        {% if info.stock == 0 %}
                            <div class="block">
                                  <span class="tag is-danger">
                                    Out of stock
                                  </span>
                            </div>
                        {% elif info.stock <= info.total %}
                            <div class="block">
                                  <span class="tag is-warning">
                                    Less than a week
                                  </span>
                            </div>
                        {% else %}
                            <div class="block">
                                  <span class="tag is-success">
                                    Enough
                                  </span>
                            </div>
                        {% endif %}
                        {% for key, value in info.sizes.items %}
                            {{ key }}: {{ value }},
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
<br/>
{% include 'includes/pages.html' %}