{% extends "base.html" %}

{% block title %}Rocket-sellers.ru для Wildberries REST API{% endblock %}

{% block content %}
    {% load custom_tags %}
    <br/>
    <h1 class="title">
        Работа с API Вайлдберриз.
    </h1>
    <div class="notification is-info is-light">
        Проект бесплатен. Если вы нашли какую-то проблему или хотите новый функционал - напишите об этом <a
            target="_blank" href="https://github.com/matacoder/wildberries-rest-api/issues">здесь</a>. За отдельную
        плату вы можете ускорить внедрение заказанного вами функционала.
    </div>
    <div class="notification is-primary is-light">
        Чтобы начать, пожалуйста зарегистрируйтесь и <strong>укажите ваш API ключ</strong>.
    </div>


{% endblock %}