{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <br/>
    <h1 class="title">
        Wildberries goods
    </h1>
    <br/>
    <div class="columns is-multiline is-mobile has-text-centered">
        <!-- section1 -->
        <div class="column is-3-tablet is-6-mobile">
            <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
            <p class="is-size-4">One</p>
            <p class="is-size-6">$20</p>
        </div>
        <div class="column is-3-tablet is-6-mobile">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMJRQBG-108Reo5TZmDK8A9rNoiw3IRfUIOkbU2yF7NpsyRxXl"/>
            <p class="is-size-4">Two</p>
            <p class="is-size-6">$20</p>
        </div>
        <div class="column is-3-tablet is-6-mobile">
            <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
            <p class="is-size-4">Three</p>
            <p class="is-size-6">$20</p>
        </div>
        <div class="column is-3-tablet is-6-mobile">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMJRQBG-108Reo5TZmDK8A9rNoiw3IRfUIOkbU2yF7NpsyRxXl"/>
            <p class="is-size-4">Four</p>
            <p class="is-size-6">$20</p>
        </div>
        <!-- section2 -->
        <div class="column is-3-tablet is-6-mobile">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMJRQBG-108Reo5TZmDK8A9rNoiw3IRfUIOkbU2yF7NpsyRxXl"/>
            <p class="is-size-4">One</p>
            <p class="is-size-6">$20</p>
        </div>
        <div class="column is-3-tablet is-6-mobile">
            <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
            <p class="is-size-4">Two</p>
            <p class="is-size-6">$20</p>
        </div>
        <div class="column is-3-tablet is-6-mobile">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMJRQBG-108Reo5TZmDK8A9rNoiw3IRfUIOkbU2yF7NpsyRxXl"/>
            <p class="is-size-4">Three</p>
            <p class="is-size-6">$20</p>
        </div>
        <div class="column is-3-tablet is-6-mobile">
            <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
            <p class="is-size-4">Four</p>
            <p class="is-size-6">$20</p>
        </div>
    </div>

{% endblock %}