{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <br/>
    <h1 class="title">
        Wildberries goods
    </h1>
    <br/>
    <div class="columns is-multiline is-mobile has-text-centered">
        <!-- section1 -->
        {% for item in data %}
        <div class="column is-3-tablet is-6-mobile">
            <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
            <p class="is-size-4">{{ item.supplierArticle }}</p>
            <p class="is-size-6">{{ item.quantity }} pieces for {{ item.Price }} each.</p>
        </div>
        {% endfor %}

    </div>

{% endblock %}