{% extends "base.html" %}

{% block title %}Остатки на складах Вайлдберриз{% endblock %}

{% block content %}
    {% load custom_tags %}
    {% include 'includes/revenue.html' %}
    <br/>
    <h1 class="title">
        Остатки на складах Вайлдберриз + продажи за 14 дней
    </h1>
    <div class="box">
        {{ total_sku }} разных артикулов, {{ can_be_ordered_qty }} штук можно заказать (не в пути)<br>
        {{ total }} штук на складе и в пути,<br>
        {{ total_value|format:"{:,}" }} рублей в продажных ценах ВБ (на складе и в пути).<br>
    </div>
    {% include "includes/card.html" %}

{% endblock %}